<section class="container row bg-light">
  <div class="col-5">
    <ul class="navbar">
      <li class="nav-link"><a class="text-decoration-none h5" href="{% url 'index' %}">Главная</a></li>
      <li class="nav-link"><a class="text-decoration-none h5" href="{% url 'index' %}">Фильмы</a></li>
      <li class="nav-link"><a class="text-decoration-none h5" href="{% url 'index' %}">Сериалы</a></li>
      <li class="nav-link"><a class="text-decoration-none h5" href="{% url 'index' %}">Актеры</a></li>
      <li class="nav-link"><a class="text-decoration-none h5" href="{% url 'index' %}">Продюсеры</a></li>
    </ul>
  </div>
  <div class="col-5"></div>
  <div class="col-2">
    <ul class="navbar">
      <li class="nav-link"><a class="text-decoration-none h5" href="{% url 'index' %}">Авторизация</a></li>
    </ul>
  </div>
</section>
